body{
    background-color: blue;
    color:white;
    font-size: larger;
    }
   h1{
      text-decoration: bold; 
    font-size: larger;
      }
   h2 {text-decoration: bold; }
   a{
       color: orange;
   }